:root {
  --blue: #0373f2;
  --white: #ffffff;
  --prpl: #f84f96;
  --offWhite: #f5f5f5;
  --primaryText: #222429;
  --secondaryText: #625c61;
  --red: #fe0100;
  --green: #03fd00;
  --background: #18181a;
  --black: #060808;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#marquee {
  width: 100vw;
  overflow: hidden;
  background-color: var(--offWhite);
  height: 30px;
  position: relative;
  margin-bottom: 0.5rem;
}

#marqueeContainer {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 40s linear infinite;
}

#marqueeContainer:hover {
  animation-play-state: paused;
}

.marquee-item {
  float: left;
  width: 10/3%;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
