/* OVERVIEW - (Example CTRL+F 4..  to navigate to results  )
 0.. General Styles
 1.. Search Field
 2.. Results Field
 3.. Individual Company Page
 4.. Chart Graphic
 5.. Removing Bootstrap Default
 6.. DARKMODE
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");

:root {
  --white: #ffffff;
  --offWhite: #f5f5f5;
  --primaryText: #30333a;
  --secondaryText: #625c61;
  --red: #fe0100;
  --green: #03fd00;
  --background: #18181a;
  --header: #0c2731;

  /* Darkmode Colors*/
  --background: #4464aa;
  --darkground: #130d21;
  --rose: #ea37a3;
  --lightblue: #2baee1;
  --purple: #6c4ee5;
}

/* 0.. General Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--offWhite) !important;
}

/* 1.. SEARCH FIELD */

.form-check-input {
  height: 20px !important;
  width: 40px !important;
  margin: 0 5px 0 0 !important;
  padding: 0 !important;
}

.form-check-label {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--secondaryText) !important;
}

#flexSwitchCheckChecked:checked {
  background-color: var(--rose) !important;
  border: white;
}

.form-check-label:hover {
  cursor: pointer;
}

#flexSwitchCheckChecked:hover {
  cursor: pointer;
}

#pageTitle {
  color: var(--header);
  font-weight: 300 !important;
  margin: 1rem 0 0 0 !important;
  letter-spacing: 0.15rem;
}

#searchBtn {
  background: var(--lightblue) !important;
  width: 4rem;
  height: 3rem;
  border: none;
}

#searchBtn:hover {
  opacity: 0.9;
}

#searchBar {
  width: 20rem;
  height: 3rem;
  border-color: var(--lightblue);
  border-width: 1px;
}

.search-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background-color: var(--white);
  border-radius: 1rem;
  margin-top: 1rem !important;
  margin-bottom: 2rem;

  -moz-box-shadow: 8px 8px 30px 8px rgb(220, 221, 222);
  -webkit-box-shadow: 4px 4px 20px 8px rgb(220, 221, 222);
  box-shadow: 4px 4px 20px 8px rgb(220, 221, 222);
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3rem;
  margin: 0rem 0 0 0;
  padding: 0 0 0 40px;
}

.form-outline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: var(--lightblue);
}

button {
  border: none;
  background-color: var(--white);
}

#spinner {
  color: var(--lightblue) !important;
}

#error {
  display: inline-block;
}

.alert {
  text-align: center;
  width: 390px;
  margin: 0.5rem auto;
}

/* 2.. RESULTS FIELD */

#displayResults {
  padding: 1rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: flex-start;
}

.displaySpaceBetween {
    justify-content: space-between !important;
}

.displayStart {
  justify-content: flex-start !important;
}

#displayResults li {
  list-style-type: none;
}

.search-result:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: #0c5ed7;
}

p {
  width: 97%;
  letter-spacing: 0.07rem;
}

.display-6 {
  border-bottom: 1px solid black;
}

.white {
  color: var(--white) !important;
}

.secondary {
  color: var(--secondaryText);
  font-size: 0.7rem;
}

.highlighted {
  background-color: yellow;
}

.highlightedPink {
  background-color: var(--prpl);
}

.compare-btn {
  background-color: var(--lightblue) !important;
  border: 0 !important;
  margin-right: 0.5rem !important;
  padding: 0.5rem !important;
}

.compare-btn:hover {
  opacity: 0.85 !important;

}

/* 3.. COMPANY PAGE STYLES */

#companyInformation {
  flex-basis: 40%;
}

.graph-container {
  width: 100%;
}

.negative-percent {
  color: var(--red) !important;
}

.positive-percent {
  color: var(--green) !important;
}

/* 4.. CHART GRAPHICS */

#graphDiv {
  height: 100%;
  display: flex;
  gap: 48px;
  flex: 1 1 60%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
}

.graph-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #ffffff;
  height: 100%;
  flex-grow: 1;
}

#myChart {
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
}

/* 5.. REMOVING STYLES FROM BOOTSTRAP */
.btn-check:focus + .btn,
.btn:focus,
#searchBar {
  box-shadow: none !important;
}

/*6.. DARKMODE */

.darkmode body {
  background-color: var(--darkground) !important;
}

.darkmode #marquee {
  background-color: var(--darkground) !important;
}

.darkmode .search-card {
  background-color: var(--darkground) !important;
  -moz-box-shadow: 8px 8px 30px 8px rgba(68, 100, 170, 1) !important;
  -webkit-box-shadow: 4px 4px 20px 8px rgba(68, 100, 170, 1) !important;
  box-shadow: 4px 4px 20px 8px rgba(68, 100, 170, 1) !important;
}

.darkmode #pageTitle {
  color: white;
}

.darkmode #searchBtn {
  background-color: var(--rose) !important;
  border-radius: 0.2rem;
}

.darkmode button {
  background-color: var(--darkground);
  border-radius: 0.25rem !important;
}

.darkmode #displayResults a {
  color: white !important;
}

.darkmode #spinner {
  color: var(--rose) !important;
}

.darkmode span {
  color: white;
}

.highlighted-darkmode {
  background-color: var(--purple);
  color: white !important;
}

.darkmode .form-check-label {
  color: white;
}

.darkmode #error {
  background-color: var(--rose);
  color: var(--white);
  border: none;
}

.darkmode .form-check-label {
  color: var(--white) !important;
}

.darkmode #searchBar {
  border-color: var(--white);
}

/* Darkmode Company.html*/

.darkmode #companyDescription {
  color: white;
}

.darkmode #stockHeader {
  color: white;
}

.darkmode #stockSymbol {
  color: white;
}

.darkmode #stockPrice {
  color: white;
}

.darkmode #companyStockprice {
  color: var(--rose) !important;
}

.darkmode #graphDiv {
  background-color: var(--darkground);
}

.darkmode #innerGraphDiv {
  background-color: var(--darkground);
  color: white !important;
}
.darkmode .compare-btn {
  background-color: var(--rose) !important;
  
}